DB_HOST=dpg-xxxxxx-a.oregon-postgres.render.com
DB_NAME=voting_db_xxxx
DB_USER=voting_db_user
DB_PASSWORD=your_render_password
DB_PORT=5432
FLASK_SECRET_KEY=your_secret_key
ALLOWED_ORIGINS=*
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin_password
